@import '~antd/dist/antd.css';

body{
    background-color: #011627;
}

.full-page{
    min-height: 100vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.landing-page{
    padding-top: 25vh;
    text-align: center;
}

.divider{
    color: #22da6e;
    padding-left: 10vh;
    padding-right: 10vh;
}

.divider-special{
    padding-left: 5vh;
    padding-right: 5vh;
}

.divider-text{
    color: #00cccc;    
    font-size: 2em;
}

.landing-page-name{
    font-size: 3em;    
    color: #f78c6c;
}

.landing-page-who-container{
    min-height: 2vh; 
}

.landing-page-who{
    font-size: 2em;
    color: #22da6e;    
}

.landing-text{
    color: #637777;
    font-size: 1.7em;
}

.who-card{
    font-size: 1em;
}

.who-card-title{
    font-size: 3em;
    color: #22da6e;
}

.who-card-subtitle{
    font-size: 2em;
    color: #f78c6c;    
}

.who-card-subtitle:hover{
    color: #f86c6c;
}

.who-card-duration{
    font-size: 1.5em;
    color: #00cccc;    
}

.who-card-description{
    font-size: 1.5em;
    color: #637777;
}

.work-card{
    font-size: 1em;
}

.work-card-title{
    font-size: 3em;
    color: #22da6e;
}

.work-card-subtitle{
    font-size: 2em;
    color: #f78c6c;    
}

.work-card-subtitle:hover{
    color: #f86c6c;
}

.work-card-duration{
    font-size: 1.5em;
    color: #00cccc;    
}

.work-card-description{
    font-size: 1.5em;
    color: #637777;
}

.contact-normal{
    text-align: center;
    padding-top: 25vh;
}

.contact-text{
    color: #637777;
    font-size: 2.6em;
}

.contact-special{
    color: #00cccc;
}

.contact-email{
    color: #f78c6c;
}

.contact-email:hover{
    color: #f86c6c;
}

.contact-specialOne{
    color: #22da6e;
}

.card-container{
    padding: 10vh;
}

.background{
    background-color: transparent;
    border-color: transparent;
    padding: 5vh;
}


